
.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 300ms ease-in-out;
}

.tarefas li:hover {
  background-color: #3f72fd1c;

}

.edit {
  margin-right: 20px;
  color: #80C2E2;
}

.delete {
  color: #F40077;
}

li:hover .edit,
li:hover .delete {
  color: #3F73FD;
}

.edit,
.delete {
  cursor: pointer;
}

.tarefas li span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}